html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

@font-face{
  font-family: HelveticaCondensedBold;
  src: url(HelveticaNeueLTCom-BdCn.ttf);
}

@font-face{
  font-family: HelveticaCondensed;
  src: url(HelveticaNeueLTCom-Cn.ttf);
}

/*HEADER */


#header{
  height: 20%;
  margin: 35px 0 0 7.5%;

}
#header p{
  margin:0;
  padding: 0;
  font-size: 30px;
  font-family: HelveticaCondensed;
}

#header p b {
  font-family: HelveticaCondensedBold;
}

#header img{
  position: absolute;
  left: 80%;
  top:3%;
  width: 100px;
  height:100px;

}


/* IMAGES */
#images {
  width: 100%;
  height: 100%;
  top: 20%;
}

#floors{
  display: none;
  width: 100%;
  height: 100%;
  top: 20%;
  position: fixed;
}



/*MENU*/

#menu {
  display: none;
  top: 20%;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #231F20;
  color: white;
}

#question{
  font-family: HelveticaCondensed, Arial;
  font-size: 40px;
  margin-top: 10%;
  margin-left: 10%;
}

#options li{
  display: inline;
  margin-left:0;
}

#options{
  padding-left:0;
}

#options li a{

  font-family: HelveticaCondensed, Arial;
  color: inherit;
  font-size: 40px;
  margin-left: 10%;
}

/*FECHAR O MENU */

#close-menu{
  margin-top: 12.5%;
  margin-left: 10%;
}

#close-menu p{
  margin-left:0 ;
  font-size: 40px;
  font-family: HelveticaCondensed;
  cursor: pointer;
}

/* FECHAR O ANDAR E IR PARA O MENU */

#close-floor{
  margin-top: 35%;
  margin-left: 85%;
}

#close-floor p{
  margin-left: 0;
  font-size: 40px;
  font-family: HelveticaCondensed;
  cursor: pointer;
}
